<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Zhonggang Homepage</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/flexslider.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/home.js"></script>
</head>
<body>
	<div class="top">
		<span class="logo"></span>
	</div>
	<div class="flexslider">
		<ul class="slides">
			<li><img src="__PUBLIC__/images/page_1.png" alt="中港建筑机械租凭"></li>
			<li><img src="__PUBLIC__/images/page_2.png" alt="中港建筑机械租凭"></li>
			<li><img src="__PUBLIC__/images/page_3.png" alt="中港建筑机械租凭"></li>
			<li><img src="__PUBLIC__/images/page_4.png" alt="中港建筑机械租凭"></li>
		</ul>
	</div>
	<div class="menu">
		<div class="intro"><span></span></div>
		<div class="case"><span></span></div>
		<div class="quali"><span></span></div>
		<div class="setting"><span></span></div>
		<div class="honor"><span></span></div>
		<div class="tele"><span></span></div>
	</div>
</body>
</html>